html {
  font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
}
body { background-color: #9cadb156; }
h1 {
  font-size: 60px;
  text-align: center;
  color: #FFD700;
}

p, li {
  font-size: 40px;
  line-height: 2;
  letter-spacing: 1px;
}
